* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* HEADER*/
.header {
    border-bottom: 1px solid #ccc;
    background-color: antiquewhite;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.header-contacts {
    display: flex;
}

.header-contacts__phone {
    margin-left: 1em;
}
/* FIXED MENU */
#menu {
    /* position: fixed; */
    width: 100%;
    transition: .2s;
    background-color: antiquewhite;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    list-style: none;
    flex: 1;
    text-align: center;
    border: 1px solid rgba(0 0 0 / .08);
}

.menu-item__name {
    display: block;
    padding: 1em;
    transition: .25s;
}

.menu-item__name:hover {
    background-color: sandybrown;
}
/* END HEADER*/



/* CONTENT */
.full-page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-page.first {
    background-color: lightblue;
}

.full-page.second {
    background-color: bisque;
}

.full-page.third {
    background-color: lightgreen;
}
/* END CONTENT */
